body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.full-width {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.heading {
  background-color: #070707;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  padding: 20px 30px;
  text-align: center;
}

.banner {
  height: calc(100vh - 75px);

  .banner-img {
    max-width: 100%!important;
    width: 100%;
    height: 600px!important;
  }
}
