body {
  margin: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.full-width {
  padding-left: 0;
  padding-right: 0;
  width: 100%; }

.heading {
  background-color: #070707;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  padding: 20px 30px;
  text-align: center; }

.main-navbar {
  border-bottom: 2px solid #070a7b;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  margin-bottom: 0;
  background: white; }
  .main-navbar .navbar-brand {
    height: auto; }
  .main-navbar .nav.navbar-nav {
    margin-top: 20px; }
    .main-navbar .nav.navbar-nav li {
      margin-right: 30px; }
      .main-navbar .nav.navbar-nav li a {
        color: #000;
        font-weight: 600;
        padding-bottom: 5px;
        padding-left: 2px;
        padding-right: 2px; }
        .main-navbar .nav.navbar-nav li a:hover {
          color: #3f414d;
          border-bottom: 3px solid #070a7b; }
      .main-navbar .nav.navbar-nav li.active a {
        background-color: transparent;
        border-bottom: 3px solid #070a7b; }
      .main-navbar .nav.navbar-nav li:last-child {
        margin-right: 0; }
    .main-navbar .nav.navbar-nav .open a {
      background-color: transparent;
      color: #000;
      padding-bottom: 5px; }
      .main-navbar .nav.navbar-nav .open a:hover {
        background-color: transparent; }
    .main-navbar .nav.navbar-nav .dropdown-menu {
      padding: 0; }

.banner {
  height: calc(100vh - 75px); }
  .banner .banner-img {
    height: 600px !important;
    max-width: 100% !important;
    width: 100%; }

.invoice-container {
  border: 1px solid #000;
  padding-bottom: 30px; }
  .invoice-container .logo {
    padding-left: 10px; }
  .invoice-container .tax-invoice-heading {
    text-decoration: underline;
    padding-right: 40px; }
  .invoice-container .name {
    font-size: 16px;
    font-weight: 600; }
  .invoice-container .contact-details {
    font-weight: 600;
    padding-right: 30px; }
  .invoice-container .gst-number {
    font-size: 20px;
    font-weight: 600; }
  .invoice-container .company-info .title {
    font-size: 40px;
    font-weight: 600; }
  .invoice-container .company-info .description {
    font-size: 16px; }
  .invoice-container .company-info .address {
    font-size: 16px;
    font-weight: 600; }
  .invoice-container .company-info .email {
    font-weight: 600;
    padding-right: 30px;
    display: inline-block; }
  .invoice-container .company-info .web-url {
    font-weight: 600;
    display: inline-block; }
  .invoice-container .invoice-details {
    font-weight: 600;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px; }
    .invoice-container .invoice-details span {
      font-size: 16px;
      padding-left: 5px; }

.form-details-table {
  width: 100%; }
  .form-details-table td {
    border: 1px solid #000; }
  .form-details-table .data {
    width: 75%; }

.invoice-item-details {
  width: 100%; }
  .invoice-item-details thead, .invoice-item-details tbody {
    border-bottom: 1px solid #000; }
    .invoice-item-details thead tr th, .invoice-item-details thead tr td, .invoice-item-details tbody tr th, .invoice-item-details tbody tr td {
      border-right: 1px solid #000;
      text-align: center; }
      .invoice-item-details thead tr th:last-child, .invoice-item-details thead tr td:last-child, .invoice-item-details tbody tr th:last-child, .invoice-item-details tbody tr td:last-child {
        border-right: 0; }
      .invoice-item-details thead tr th:first-child, .invoice-item-details thead tr td:first-child, .invoice-item-details tbody tr th:first-child, .invoice-item-details tbody tr td:first-child {
        width: 35px; }
      .invoice-item-details thead tr th:nth-child(2), .invoice-item-details thead tr td:nth-child(2), .invoice-item-details tbody tr th:nth-child(2), .invoice-item-details tbody tr td:nth-child(2) {
        width: 500px; }
      .invoice-item-details thead tr th:nth-child(3), .invoice-item-details thead tr td:nth-child(3), .invoice-item-details tbody tr th:nth-child(3), .invoice-item-details tbody tr td:nth-child(3) {
        width: 148px; }
  .invoice-item-details tbody tr {
    border-bottom: 1px solid #000; }
    .invoice-item-details tbody tr:first-child {
      height: 400px; }

.right-nav-options {
  list-style-type: none;
  margin-top: 16px; }
  .right-nav-options li {
    display: inline-block;
    margin-right: 30px;
    text-align: center; }
    .right-nav-options li a {
      color: #000;
      font-weight: 600;
      padding-bottom: 5px;
      text-decoration: none; }
      .right-nav-options li a:hover {
        color: #3f414d;
        border-bottom: 3px solid #070a7b;
        position: relative; }
        .right-nav-options li a:hover + .inner-dropdown {
          display: block;
          position: absolute;
          top: 62px;
          right: 50px;
          z-index: 99;
          background: #000; }
    .right-nav-options li .glyphicon {
      color: #070a7b; }
    .right-nav-options li:last-child {
      margin-right: 0; }

.inner-dropdown {
  display: none; }
  .inner-dropdown ul {
    list-style-type: none;
    float: left;
    border: 1px solid #000; }
    .inner-dropdown ul li {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: left;
      margin-right: 0;
      padding: 5px 20px 5px 10px; }
      .inner-dropdown ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: 600; }
      .inner-dropdown ul li:last-child {
        border-bottom: 0; }

/*# sourceMappingURL=style.css.map */
